.header {
    height: 7rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.726);
    font-size: 28px;
    align-items: center;
}

.route {
    color: white;
}

a {
    text-decoration: none;
}

.route-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.logo {
    height: 5rem;
    filter: invert(100%);
}