.products-container {
    height: 100%;
    max-width: 80%;
    display: flex;
    margin: 50px 0px;
    gap: 20px;
    flex-wrap: wrap;
    flex: 4 1;
    margin-top: 10rem;
}

.products {
    background-color: rgba(211, 211, 211, 0.048);
    display: flex;
    justify-content: center;
}