/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
    
  }

@media (max-width: 600px) {
  .slideshow, .slide{
    width: 100%;
  }
}

  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    max-width: 500px;
  }
  


.slideshow-container {
  max-width: 500px;
  padding: 30px;
}